# .gitignore
# Erstmal alles ignorieren
*
!.gitignore

## Only include this folders
!/Teensy41_Ethernet_NtpClient_Basic/
!/Teensy41_Ethernet_NtpClient_Basic/**

!/Teensy41_RTC_Test/
!/Teensy41_RTC_Test/**

!/Teensy41_SysTime_RTC_Example/
!/Teensy41_SysTime_RTC_Example/**

!/Teensy4_NativeEthernet_Https_SSLClient_Get/
!/Teensy4_NativeEthernet_Https_SSLClient_Get/**

!/Teensy41_Watchdog_ResetCause_1/
!/Teensy41_Watchdog_ResetCause_1/**

!/Teens41_FritzBox_FritzDect/
!/Teens41_FritzBox_FritzDect/**

!/Teensy41_USB_Host_KeyBoard
!/Teensy41_USB_Host_KeyBoard/**

!/Teensy41_PlaySounds_USB_Keyboard
!/Teensy41_PlaySounds_USB_Keyboard/**

!/Teensy41_PlaySounds_USB_Keyboard_Test
!/Teensy41_PlaySounds_USB_Keyboard_Test/**

!/Teensy41_USB_Audio_Input
!/Teensy41_USB_Audio_Input/**

!/Teensy41_USB_Audio_Output
!/Teensy41_USB_Audio_Output/**

!/Teensy41_Midi_Get_Notes_from_Yamaha_PSR140_Keyboard
!/Teensy41_Midi_Get_Notes_from_Yamaha_PSR140_Keyboard/**

!/Teensy41_Midi_Notes_Record_and_Play_On_Audioshield
!/Teensy41_Midi_Notes_Record_and_Play_On_Audioshield/**

!/Teensy41_Transfer_MIDI_To_UsbMIDI
!/Teensy41_Transfer_MIDI_To_UsbMIDI/**













