# .gitignore
# Erstmal alles ignorieren
*
!.gitignore

## Only include this folders
!/Teensy41_Ethernet_NtpClient_Basic/
!/Teensy41_Ethernet_NtpClient_Basic/**

!/Teensy41_RTC_Test/
!/Teensy41_RTC_Test/**

!/Teensy41_SysTime_RTC_Example/
!/Teensy41_SysTime_RTC_Example/**

!/Teensy4_NativeEthernet_Https_SSLClient_Get/
!/Teensy4_NativeEthernet_Https_SSLClient_Get/**

!/Teensy41_Watchdog_ResetCause_1/
!/Teensy41_Watchdog_ResetCause_1/**














